
footer {
  position: relative;
  padding-top: 23px;
  padding-bottom: 10px;
  background: #dbdbdb;
  margin-bottom: 95px;
  @include tablet {
    margin-bottom: 55px;
  }
  .social {
    position: relative;
    li {
      text-align: center;

      top: -15px;
      list-style: none;
      @include desktop {
        position: absolute;
      }
      img {
        width: 45px;
      }
    }

  }

  ul.footerMenu {
    display: block;
    margin: 0 auto;
    position: relative;
    padding: 0;
    li {
      display: inline-block;
      margin: 0 5px;
      &:first-child {
        &:after {
          content: '|';
          margin-left: 15px;
        }
      }
      a {
        color: #333333;
        &:hover {
          color: $dhlRed;
        }

      }
    }
  }
  .copyright {
    text-align: center;
    @include desktop {
      text-align: right;
    }
  }

}

.feedbackBar {
  display: none;
  background: $dhlRed;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  p {
    color: #ffffff;
    margin-bottom: 5px;
    strong, a {
      font-family: 'Frutiger Neue LT W06 Bold';
      color: #ffffff;
    }
  }

}
.modal {
  background-color: rgba(0, 0, 0, 0.7);
  .modal-content {
    padding: 10px;
    .modal-title {
      font-size: 25px;
    }
    button {
      &.close {
        color: #222222;
        //border: 1px solid #333333;
        //border-radius: 100%;
        opacity: .8;
        span {
          padding: 5px;
          font-size: 17px;
          position: relative;
          /* top: 0px; */
          font-weight: normal;

        }
      }
    }
    form {
      input[type="text"], textarea, input[type="email"] {
        border: 1px solid #e0e0e0;
        background: #f6f6f6;
      }
      input, label, textarea {
        width: 100%;
      }
      input[type="submit"] {
        width: 100px;
        float: right;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d40511+0,b00e01+100 */
        background: rgb(212,5,17); /* Old browsers */
        background: -moz-linear-gradient(top,  rgba(212,5,17,1) 0%, rgba(176,14,1,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  rgba(212,5,17,1) 0%,rgba(176,14,1,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  rgba(212,5,17,1) 0%,rgba(176,14,1,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d40511', endColorstr='#b00e01',GradientType=0 ); /* IE6-9 */


        -webkit-box-shadow: 0px 2px 9px 0px rgba(50, 50, 50, 0.45);
        -moz-box-shadow:    0px 2px 9px 0px rgba(50, 50, 50, 0.45);
        box-shadow:         0px 2px 9px 0px rgba(50, 50, 50, 0.45);

        border-radius: 0;

        &:hover {

          /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#bf0508+0,660101+100 */
          background: rgb(191,5,8); /* Old browsers */
          background: -moz-linear-gradient(top,  rgba(191,5,8,1) 0%, rgba(102,1,1,1) 100%); /* FF3.6-15 */
          background: -webkit-linear-gradient(top,  rgba(191,5,8,1) 0%,rgba(102,1,1,1) 100%); /* Chrome10-25,Safari5.1-6 */
          background: linear-gradient(to bottom,  rgba(191,5,8,1) 0%,rgba(102,1,1,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bf0508', endColorstr='#660101',GradientType=0 ); /* IE6-9 */

        }
      }
      img {
        width: auto;
      }
    }
  }

}

