body {
  transition: transform 0.3s;
  &.mobileshowsidebar {
    transform: translateX(-300px);
    transition: transform 0.3s;
    overflow: hidden;

    @include tablet {
      transform: translateX(0%);
    }

    @include desktop {
      transform: translateX(0%);
    }
  }
  .headerContainer {
    padding-left: 0;
    padding-right: 0;
    z-index: 1;
    position: relative;

    @include desktop {
      margin-top: 20px;
      padding-left: 35px;
      padding-right: 35px;
      margin-bottom: -150px;
    }

    .header {
      position: relative;
      display: block;
      width: 100%;
      .headerWrapper {
        padding: 20px;
        z-index: 2;
        display: block;
        padding-top: 30px;
        padding-bottom: 80px;
        width: 100%;
        background: -moz-linear-gradient(top, rgba(255, 204, 0, 1) 0%, rgba(255, 204, 0, 1) 65%, rgba(255, 204, 0, 0) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(255, 204, 0, 1) 0%, rgba(255, 204, 0, 1) 65%, rgba(255, 204, 0, 0) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #ffcc00 0%, #ffcc00 65%, rgba(255, 204, 0, 0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffcc00', endColorstr='#00ffcc00', GradientType=0); /* IE6-9 */
        @include tablet {
          padding-top: 10px;
          padding-bottom: 10px;
        }
        .navbar {
          background: none;
          border: none;
          position: relative;
          z-index: 3;
          @include tablet {
            padding-top: 20px;
          }
          @include desktop {
            padding-top: 0;
          }

          .navbar-toggle {
            &.sidebar {
              position: relative;
              right: 0;
              top: 0;
              z-index: 1;
              .icon-bar {
                height: 22px;
                width: 2px;
                float: left;
                position: relative;
                margin: 0 2px;
              }
            }
          }
          .navbar-header {

            .navbar-brand {
              img {
                width: 220px;
                display: block;
                margin: 0 auto;
              }
            }
          }

          .navbar-collapse {
            display: none;
            position: absolute;
            top: -30px;
            padding: 20px;
            right: -310px;
            transition: transform .3s;
            width: 280px;
            background: #e7e7e7;
            height: 8000px !important;
            &.showsidebar {
              display: block;
            }
            @include tablet {
              position: relative;
              display: block;
              width: auto;
              height: inherit !important;
              transform: none;
              background: none;
              right: auto;
              top: auto;
            }
            .searchFormContainer {
              form.search {
                @include desktop {
                  float: right;
                }
                #headerSearchForm {
                  position: relative;
                  input {
                    width: 100%;
                    padding: 10px 40px 10px 3px;
                    border: none;
                    &:focus {
                      border: none;
                      outline: none;
                    }
                  }
                  button, .showSearch {
                    position: absolute;
                    height: 100%;
                    top: 0;
                    right: 0;
                    padding: 4px 0 0 0;
                    font-size: 20px;
                    border: none;
                    background: #e7e7e7;
                    &:focus {
                      border: none;
                      outline: none;
                    }

                  }
                  #formComponents {
                    display: block;
                  }
                  button span, .showSearch {
                    color: $dhlRed;
                  }
                  .showSearch {
                    display: none;

                  }
                  @include tablet {
                    position: absolute;
                    right: 15px;
                    top: -10px;
                    input {
                      //display: none;
                      padding: 5px 40px 5px 3px;
                    }
                    button, .showSearch {
                      background: $dhlYellow;
                      padding: 3px 5px;
                    }
                  }
                  @include desktop {
                    position: relative;
                    float: right;
                    input {
                      display: none;
                    }
                    button span, .showSearch {
                      position: relative;
                      top: 0;
                    }
                    .showSearch {
                      display: block;
                      &.active {
                        background: $dhlRed;
                        color: $dhlYellow;
                      }
                    }
                    #formComponents {
                      display: none;
                      position: absolute;
                      top: 30px;
                      height: 32px;
                      overflow: hidden;
                      right: 0;
                      width: 251px;
                      input, button {
                        display: block;
                        position: absolute;
                        right: 0;
                      }
                      button {
                        background: none;
                      }

                    }
                    input {
                      width: 250px;
                      right: 0;
                    }
                    button {

                    }

                  }

                }

              }
              @include desktop {
                position: relative;
                display: block;
                float: right;
                top: 20px;
                right: -20px;
              }
            }

            ul.navbar-nav {
              @include desktop {
                padding-right: 20px;
              }

              li {
                a {
                  color: #333333;
                }
                &.current-menu-item {
                  a {
                    font-family: 'Frutiger Neue LT W06 Bold';
                    background: none;
                    font-weight: bold;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}