body {
  -webkit-transition: transform 0.3s;
  -moz-transition: transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
  &.mobileshowsidebar {
    -webkit-transform: translateX(-80%);
    -moz-transform: translateX(-80%);
    -o-transform: translateX(-80%);
    transform: translateX(-80%);
    -webkit-transition: transform 0.3s;
    -moz-transition: transform 0.3s;
    -o-transition: transform 0.3s;
    transition: transform 0.3s;
    overflow: hidden;

    @include tablet {
      -webkit-transform: translateX(0%);
      -moz-transform: translateX(0%);
      -o-transform: translateX(0%);
      transform: translateX(0%);
    }

    @include desktop {
      -webkit-transform: translateX(0%);
      -moz-transform: translateX(0%);
      -o-transform: translateX(0%);
      transform: translateX(0%);
    }
  }
  .headerContainer {
    padding-left: 0;
    padding-right: 0;
    z-index: 1;
    position: relative;

    @include desktop {
      padding-left: 35px;
      padding-right: 35px;
    }

    .header {
      position: relative;
      display: block;
      width: 100%;
      @include desktop {
        position: absolute;
        display: block;
        width: 94%;
        margin-top: 20px;
      }
      .headerWrapper {
        padding: 20px;
        z-index: 2;
        display: block;
        padding-top: 30px;
        width: 100%;
        background: $dhlYellow;

        @include tablet {
          padding-top: 10px;
          padding-bottom: 10px;
        }
        @include desktop {
          background: -moz-linear-gradient(top, rgba(255, 204, 0, 1) 0%, rgba(255, 204, 0, 1) 65%, rgba(255, 204, 0, 0) 100%); /* FF3.6-15 */
          background: -webkit-linear-gradient(top, rgba(255, 204, 0, 1) 0%, rgba(255, 204, 0, 1) 65%, rgba(255, 204, 0, 0) 100%); /* Chrome10-25,Safari5.1-6 */
          background: linear-gradient(to bottom, #ffcc00 0%, #ffcc00 65%, rgba(255, 204, 0, 0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffcc00', endColorstr='#00ffcc00', GradientType=0); /* IE6-9 */
        }
        .navbar {
          background: none;
          border: none;
          position: relative;
          z-index: 3;
          margin-bottom: 0;
          @include tablet {
            padding-top: 20px;
          }
          @include desktop {
            padding-top: 0;
            margin-bottom: 20px;
          }
          .navbar-toggle {
            background: $dhlRed;
            border: none;
            left: 25px;
            span.icon-bar {
              background-color: #ffffff;
              height: 22px;
              width: 2px;
              float: left;
              margin: 0 2px;
              -webkit-transition: transform .3s, background-color .3s;
              -moz-transition: transform .3s, background-color .3s;
              -o-transition: transform .3s, background-color .3s;
              transition: transform .3s, background-color .3s;

              &.transparent {
                display: none;
              }
              &.left {
                position: relative;
                left: 25%;
                -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
              }
              &.right {
                position: relative;
                 right: 25%;
                -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg);
              }

            }

            &.collapsed {
              background: none;
              border: none;
              left: 0;
              span.icon-bar {
                background-color: #ffffff;
                width: 22px;
                height: 2px;
                float: none;
                margin: 4px 0;
                -webkit-transition: transform .3s, background-color .3s;
                -moz-transition: transform .3s, background-color .3s;
                -o-transition: transform .3s, background-color .3s;
                transition: transform .3s, background-color .3s;
                &.transparent {
                  display: block;
                }
                &.left {
                  position: relative;
                  left: 0;
                  -webkit-transform: none;
                  transform: none;
                }
                &.right {
                  position: relative;
                  right: 0;
                  -webkit-transform: none;
                  transform: none;
                }
              }

            }
            //&.sidebar {
            //  position: absolute;
            //  right: 0;
            //  top: 0;
            //  z-index: 1;
            //  border: none;
            //  .icon-bar {
            //    height: 22px;
            //    width: 2px;
            //    float: left;
            //    position: relative;
            //    margin: 0 2px;
            //    &.transparent {
            //      display: none;
            //    }
            //    &.left {
            //      position: relative;
            //      left: 25%;
            //      -webkit-transform: rotate(45deg);
            //      transform: rotate(45deg);
            //    }
            //    &.right {
            //      position: relative;
            //      right: 25%;
            //      -webkit-transform: rotate(-45deg);
            //      transform: rotate(-45deg);
            //    }
            //  }
            //}
          }
          .navbar-header {
            display: block;
            z-index: 3;
            position: relative;

            .navbar-brand {
              width: 75%;
              @include tablet () {
                width: 100%;
              }
              img {
                width: 100%;
                max-width: 220px;
                display: block;
                margin: 0 auto;
              }
            }
          }

          .navbar-collapse {
            display: none;
            position: absolute;
            top: -30px;
            padding: 20px;
            right: -86%;
            -webkit-transition: transform .3s;
            -moz-transition: transform .3s;
            -o-transition: transform .3s;
            transition: transform .3s;
            width: 80%;
            max-width: 280px;
            background: none;
            height: 8000px !important;
            &.showsidebar {
              display: block;
            }
            @include tablet {
              max-width: none;
              position: relative;
              display: block;
              width: auto;
              height: inherit !important;
              transform: none;
              right: auto;
              top: auto;
            }
            .searchFormContainer {
              padding-bottom: 10px;

              border-bottom: 1px solid #ebebeb;
              @include tablet {
                padding-bottom: 0;
                border: none;
              }

              form.search {
                @include desktop {
                  float: right;
                }
                #headerSearchForm {
                  position: relative;
                  input {
                    width: 100%;
                    padding: 10px 40px 10px 3px;
                    border: none;
                    &:focus {
                      border: none;
                      outline: none;
                    }
                  }
                  button, .showSearch {
                    position: absolute;
                    height: 100%;
                    top: 0;
                    right: 0;
                    padding: 4px 0 0 5px;
                    font-size: 20px;
                    border: none;
                    background: #f7f8f6;
                    &:focus {
                      border: none;
                      outline: none;
                    }

                  }
                  #formComponents {
                    display: block;
                  }
                  button span, .showSearch {
                    color: $dhlRed;
                    cursor: pointer;
                  }
                  .showSearch {
                    display: none;


                  }
                  @include tablet {
                    position: absolute;
                    right: 15px;
                    top: -10px;
                    input {
                      //display: none;
                      padding: 5px 40px 5px 3px;
                    }
                    button, .showSearch {
                      background: $dhlYellow;
                      padding: 3px 5px;
                    }
                  }
                  @include desktop {
                    position: relative;
                    float: right;
                    input {
                      display: none;
                    }
                    button span, .showSearch {
                      position: relative;
                      top: 0;
                    }
                    .showSearch {
                      display: block;
                      &.active {
                        background: $dhlRed;
                        color: $dhlYellow;
                        &:before {
                          content: "\e014";
                        }
                      }
                    }
                    #formComponents {
                      display: none;
                      position: absolute;
                      top: 30px;
                      height: 32px;
                      overflow: hidden;
                      right: 0;
                      width: 251px;
                      input, button {
                        display: block;
                        position: absolute;
                        right: 0;
                      }
                      button {
                        background: none;
                      }

                    }
                    input {
                      width: 250px;
                      right: 0;
                    }
                    button {

                    }

                  }

                }

              }
              @include desktop {
                position: relative;
                display: block;
                float: right;
                top: 20px;
                right: -20px;
              }
            }

            ul.navbar-nav {

              @include desktop {
                .menu-item {
                  &.open {
                    > a {
                      color: $dhlRed;
                      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,1+74,1+85 */
                      background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 74%, rgba(255,255,255,1) 85%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
                      background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 74%,rgba(255,255,255,1) 85%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
                      background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 74%,rgba(255,255,255,1) 85%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

                    }
                    .dropdown-menu {
                      left: 0;
                      right: auto;
                      top: 98%;
                      border: none;
                      min-width: 100%;

                      ul {
                        li {
                          a {
                            color: inherit;
                          }
                        }
                      }
                    }
                  }
                }
                padding-right: 20px;
              }

              li {
                a {
                  color: #333333;
                }
                &.current-menu-item, &.current-menu-parent {
                  > a {
                    font-family: 'Frutiger Neue LT W06 Bold';
                    background: none;
                    font-weight: normal;
                    color: $dhlRed;
                    @include desktop {
                      color: #333333;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .content {
    //@include desktop {
    //  position: relative;
    //  top: -150px;
    //}
  }
}