.pageHome {
  section {
    padding: 0 15px;
    @include desktop {
      padding: 0;
    }
    &.headerSlider {
      padding: 0;
      .bx-wrapper {
        margin-bottom: 20px;
        .bx-pager {
          position: absolute;
          bottom: 10px;
          &.bx-default-pager a {
            background: #ffffff;
            &.active {
              background: $dhlRed;
            }

          }
        }
        .bx-viewport {
          border: none;
          -webkit-box-shadow: none;
          box-shadow: none;
          left: 0;

          .slide-pane {
            position: relative;
            display: block;
            overflow: hidden;
            max-height: 440px;
            img {
              width: 100%;
            }
            .headerBanner {
                max-width: 300px;
                position: absolute;
                text-transform: uppercase;
                color: #ffffff;
                top: 40%;
                transform: translateY(-40%);
                left: 8%;
              @include tablet {
                left: 70px;
                top: 50%;
                max-width: 600px;
              }
              @include desktop {
                top: 60%;
              }

                h3, span {
                  color: #ffffff;
                }
                h3 {
                  font-size: 25px;
                  @include tablet {
                    font-size: 50px;
                  }

                  font-weight: bold;
                  margin-bottom: 0;
                }
                span {
                  font-weight: normal;
                  font-size: 15px;
                  @include tablet {
                    font-size: 30px;
                  }
                }


            }
          }
        }
      }
    }//End of headerSlider
    .heading {
      //font-family: 'Frutiger Neue LT W06 Co1366734', Verdana, sans-serif;
      font-size: 36px;
      font-weight: 100;
    }// End of heading
    .headingTagLine {
      font-size: 14px;
    }
    &.countriesBar {
      margin-bottom: 40px;
      .countryWrapper {
        margin-top: 20px;
        a {
          position: relative;
          display: block;


          img {
            width: 100%;
            @include shadow('');

          }
          &:hover {
            .hoverOverlay {
              display: block;
            }
            img {
              @include shadow(rgba(50, 50, 50, 0.17));
            }

          }
        }
      }
    }
    &.guidelines {

    }
  }
}