.usefulInfo {
  section {
    &.introduction {
      h1 {
        text-align: center;
        margin-top: 20px;
      }
      .theContent {
        padding: 10px;
        @include desktop {
          padding: 10px 150px;
        }
      }
    }
  }
}